*{
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(150deg, rgb(151, 199, 244), rgb(201, 227, 251), #ffff, rgb(190, 223, 254), rgb(146, 202, 255));
    height: 100vh;
}

h1 {
    background-color: #2990ffbe;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 25px;
}

.geral {
    display: flex;
    padding: 100px;
    gap: 50px;
}


.container {
    width: 45%;
    padding: 20px;
    border: 1px solid #316efdd1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.container2 {
    width: 45%;
    padding: 20px;
    border: 1px solid #316efdd1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.itemNaoComprado {
    width: 25%;
    display: grid;
    height: 200px;
    
}
.itemComprado {
    width: 25%;
    height: 200px;
    
}
#itemInput {
    width: 100%;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 9px;
    margin-bottom: 10px;
    border: 1px solid #57575799;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    padding: 8px;
    border: none;
    background-color: rgb(74, 165, 251);
    color: white;       
    border-radius: 3px;
    cursor: pointer;
}
button:hover {
    background-color: #027cff;
}

#salvarComprar:hover{
    background-color: rgb(105, 249, 105);
}
#salvarComprar2{
    width: 100%;
    height: 35px;
}
#salvarComprar2:hover{
    background-color: rgb(105, 249, 105);
}
#searchInput{
    width: 100%;
    margin-bottom: 35px;
}
#searchInput2{
    width: 100%;
    height: 35px;
    margin-bottom: 80px;
}

#buttonAdicionar {
    width: 100%;
    margin-bottom: 20px;
}

#historyButton {
    margin-top: 10px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    float: right;
    border: none;
    background-color: rgb(80, 167, 249);
    width: 100%;
}
#historyButton:hover{
    background-color: #027cff;
}

.boxes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.box {
    width:50% ;
    padding: 10px;
    border: 1px solid #3f9afad3;
    border-radius: 5px;
    height: 100%;
    margin-bottom: ;
}

.box h2 {
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
    background-color: #007bffec;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(68, 68, 68, 0.514);

}

.list {
    list-style-type: none;
    padding: 0;
}

.item {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.item-text {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.quantity {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.quantity input {
    width: 40px;
    padding: 6px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
}


button.mark-as-purchased,
button.delete-item {
    padding: 6px 10px;
}

.div-compras {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.edit-button {
    width: 80px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.container-div {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    border: 1px solid #5fa9f8;
    border-radius: 5px;
}
.div-button{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.delete-button {
    width: 80px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.delete-button:hover {
    background-color: red;
}
